body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


/* ----------- HEADER ----------- */

header {
    background: #333;
    color: white;
    padding: 20px;
}

header ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

a {
    color: darkgreen;
    text-decoration: none;
}

header li {
    display: inline;
    background: lightblue;
    padding: 10px;
    border-radius: 5px;
}

/* ----------- MAIN CONTENT ----------- */

img {
    width: 100%;
    height: auto;
    animation:fadeIn 1s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* ----------- RECIPE CARDS ----------- */

#recipe-button, #save-recipe {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background: darkgreen;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#nutrition-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    background: lightgray;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 0 10px rgb(139, 139, 139);
    max-width: 900px;
    margin: 20px auto;
}

/* ----------- FORM ----------- */

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: 20px auto;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px;
    background: darkgreen;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* ----------- DASHBOARD ----------- */
#dashboard-content {
    max-width: 800px;
    margin: 20px auto;
    background: lightgray;
    padding: 20px;
    box-shadow: 0 0 10px rgb(139, 139, 139);
    gap: 2rem;
}

/* ----------- FOOTER ----------- */

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}